.form-rrule .container-inline label::after {
  content: '';
}
.form-rrule fieldset > legend {
  float: left;
  margin-right: 0.25em;
}
.form-rrule fieldset > div {
  float: left;
}
.form-rrule .form-item > label {
  display: inline;
}
.form-rrule .rrule-byday .form-item {
  display: inline;
}
.form-rrule .rrule-byday > legend, .form-rrule .rrule-byday > div.fieldset-wrapper {
  display: inline-block;
  float: left;
}
.form-rrule .rrule-byday > legend {
  margin-right: 0.25em;
}
.form-rrule .rrule-byday .rrule-byday-pos {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  float: left;
}
.form-rrule .rrule-byday .rrule-byday-pos legend {
  display: inline;
  float: left;
  margin-right: 0.25em;
}
.form-rrule .rrule-byday .rrule-byday-pos .fieldset-wrapper {
  display: inline-block;
  margin-right: 0.25em;
}
.form-rrule .rrule-byday .byday-pos-container {
  display: inline-block;
  position: relative;
  min-width: 100px;
}
.form-rrule .rrule-byday .byday-pos-text {
  border-bottom: 1px dotted #008ee6;
  cursor: pointer;
}
.form-rrule .rrule-byday .byday-pos-text:after {
  content: '▼';
  color: #008ee6;
  font-size: 11px;
  margin-left: 3px;
}
.form-rrule .rrule-byday .byday-pos-input {
  position: absolute;
  top: 100%;
  left: 0;
  width: auto;
  height: auto;
  background: #fff;
  border: 2px solid #008ee6;
  padding: 5px;
  display: none;
}
.form-rrule .rrule-byday .byday-pos-input .form-item {
  display: block;
}
.form-rrule .rrule-end > legend {
  float: none;
}
